body{
    font-family:微软雅黑;
    margin:0 10%;
    font-size:medium;


}
h2{
    text-decoration:underline;
    font-style: italic;
    font-size:150%;


}
h3{
    color:green;
    text-decoration:underline;
    font-style: italic;
    font-size:120%;


}
p{
    text-indent: 2em;
    line-height:30px;
    font-weight: 600;
    letter-spacing: normal;
}
h2{text-align:center;
    color:rgb(100,200,230);
}