#position1{
    width: 100px;
    height: 100px;
    background-color: #7e7e7e;
    position: relative;
    left: 20px;
    top:20px;
    z-index: 2;

}
#position2{
    width: 100px;
    height: 100px;
    background-color: #0f0;
    position: relative;
    left: 10px;
    top:10px;
    z-index: 1;

}