body{
    font-size:small;
    font-family:Verdana,Helvetica,Arial,sans-serif;
    line-height:1.6em;/* 行高*/
}
h1,h2{
    color:#007e7e;
}
h1{
    font-size:150%;
}
h2{
    font-size:130%;
}
#guarantee{
    border:1px dashed white;
    background-color:#a7cece;
    color:#444444;
    margin:30px;
    padding:25px;
    line-height:1.9em;
    font-style: italic;
    font-family:Georgia,"times new roman",times,serif;
    background-image:url(images/background.gif);
    background-repeat: no-repeat;
    background-postion:top left;
    margin-right:250px;
    padding-left:80px;
    border-radius:0 2em 0 2em;



}
#elixirs{
    border:thin solid #007e7e;
    width:200px;
    padding:0 20px 20px 20px;
    margin-left:20px;
    text-align:center;
    background-image:url(images/cocktail.gif);
    background-repeat: repeat-x;
    line-height: 1.6em;
    float:right;
}
#elixirs h2{
    color:black;
}
#elixirs h3{
    color:red;

}
.cd{
    font-style: italic;
}
.artist{
    font-weight:bold;
}
a:link{
    color:green;
}
a:visited{
    color:red;
}
a:hover{
    color:yellow;

}
a:focus{
    color:blue;

}
a:active{
    color:pink;

}
#footer{
    font-size:50%;
    text-align:center;
    line-height:normal;
    margin-top:50px;
}